body {
  margin: 0px;
}

.topmenu {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  height: 180px;
  width: 100%;
}
.pagetitle {
  justify-self: center;
  align-self: center;
}
.list {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  list-style-type: none;
  box-sizing: border-box;
  justify-content: space-around;
}

.intro {
  background-image: url(https://images.unsplash.com/photo-1683009427041-d810728a7cb6?q=80&w=1972&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: 0 -1700px;
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  display: block;
  float: none;
  height: 968px;
  width: auto;
}

.textbox1 {
  background-color: aliceblue;
  box-shadow: 0 0 10px 10px black inset;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  width: 300px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  bottom: 50%;
  left: 200px;
  justify-content: center;
}

.trad {
  background-image: url(https://img.ukclimbing.com/i/401308?fm=jpg&time=1675762700&s=0062fef8429ef7abd5b41847db1d5753);
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  display: block;
  height: 968px;
  width: auto;
  background-size: cover;
}
.textbox2 {
  background-color: black;
  border: 5px;
  border-style: solid;
  color: blanchedalmond;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  width: 400px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  bottom: 15%;
  right: 10%;
  justify-content: center;
}

.sport {
  background-image: url(https://img.ukclimbing.com/i/386922?fm=jpg&time=1651760751&dpr=1&s=82f958a6e248f0adf780d1d15016f583);
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  display: block;
  height: 968px;
  width: auto;
  background-size: cover;
}

.textbox3 {
  background-color: black;
  border: 5px;
  border-style: solid;
  color: blanchedalmond;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  width: 400px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  bottom: 15%;
  right: 10%;
  justify-content: center;
}

.bouldering {
  background-image: url(https://i.ytimg.com/vi/XXW0pTnkQjc/maxresdefault.jpg);
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  display: block;
  height: 968px;
  width: auto;
  background-size: cover;
}

.textbox4 {
  background-color: black;
  border: 5px;
  border-style: solid;
  color: blanchedalmond;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  width: 400px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  top: 15%;
  left: 10%;
  justify-content: center;
}
